name: connection test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Debug SSH key
        run: |
          echo "KEY LENGTH = ${#KEY}"
        env:
          SSH_KEY: ${{ secrets.KEY }}

      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            whoami
            DIR="folder_test_$(date +%d%m%Y_%H%M%S)"
            mkdir -p "$DIR"
            touch "$DIR/testfile.log"
