name: connection test
on: 
  workflow_dispatch
jobs:
  build:
    name: Create directory
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            whoami
            mkdir folder_test1
            touch testfile01.log
