name: connection test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Debug SSH key
        run: |
          echo "KEY LENGTH = ${#SSH_KEY}"
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            whoami
            mkdir folder_test1
            touch folder_test1/testfile01.log
